<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>

<p><a href="/bookingApp/index.jsp">
    <button type="submit">Back</button>
</a></p>

<p><a href="/createEvent">
    <button type="submit">Create new event</button>
</a></p>

<section>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Title</th>
                <th>Id</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="event : ${allEvents}">
                <td th:text="${event.getTitle()}"></td>
                <td th:text="${event.getId()}"></td>
                <td th:text="${event.getDate()}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${event.getId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>

</body>

</body>
</html>